<div id="left">
<h2><a href="#">About Us</a></h2>
<h3>Mission</h3> 
<ul>
<li>ADVANTAGED COMPETITIVENESS</li>
<li>HIGH EFFECTIVENESS  CUSTOMIZED SERVICE</li>  
<li>TROUBLE-FREE SERVICE</li>
</ul> 
<h3>Profile</h3>
<p>YOUTH-JET FREIGHT CO.,LTD is an A-Class freight forwarding and logistics company in the China ,registered capital USD 880,000.00, providing its customers with a professional, personal service for the shipments of freight worldwide.</p>
     <p>Supported by our extremely strong partnership network with global alliance and  well-trained professional staffs, Youth-Jet Freight provides all of modes of transport, including services of Break bulk ,Ro/Ro, Air freight import& export ,FCL/FCL,LCL/LCL ,Transshipment ,Customs clearance, and Logistics supply-chain consulting etc. to clients quickly, effectively, and economically. Providing trouble-free services with fair price to our customers and assisting our customers in producing high quality and low cost so that they can become more competitive and stronger. Furthermore, we regard and promote environmental protection as an important part of our social responsibility.</p>
</div>

<div id="sidebar">

</div>
