<div id="left">
<h2><%=t('contact_us')%></h2> 
<div id="contact_area">          
  <ul>
  <li>执行董事：吴克杰  richardwu#youthjet.com </li>
  <li>海运进口主管：缪佳  miaomiao#youthjet.com</li>
  <li>海运出口主管：丁晶晶  patric.ding#youthjet.com</li>
  <li>空运主管：黄正冬  jason.huang#youthjet.com </li>
  <li>海外主管：唐文玉  overseas#youthjet.com</li>
  </ul>
   <%=t('contact_info')%> 
</div>
</div>
<div id="sidebar">
    <%=render :partial => 'links'%> 
</div>
