<div id="left">
<h2><a href="#">Contact Us</a></h2> 
<p>
<h5>RICHARD WU</h5>
</p> 
<p>
Tel：++86-21-50282054
</p> 
<p>
Fax：++86-21-50282923
</p> 
<p>
E-mail: richardwu@youthjet.com
</p>
</div>
<div id="sidebar">

</div>
