<% content_for :header_image do %>
<div id="header">
<h2 class="introtext">
<span class="highlight2"><%=t('name')%> </span><%=t('tell')%>
</h2>
</div>
<% end %>
<div id="homecontents"> 
<h2><a href="#"><%= t('Profile')%></a></h2>  
<p><%= t 'about_text' %>
</p>
</div>