
<div id="left">  
<h3><%=t('network_inter')%></h3>    
<img src="/images/network-inter.jpg"/>  
<h3><%=t('network_nation')%></h3>   
<img src="/images/network-nation.jpg"/>      
</div>
<div id="sidebar">
  <%=render :partial => 'links'%> 
</div>