
<div id="left">  
<h3><%=t('network_inter')%></h3>
<img src="/images/network-inter.jpg"/> 
<table border="0">
	<tr><th>Area</th></tr>
	<tr><td>South Africa</td></tr> 
		 <tr><td>Australia and New Zeland</td></tr> 
		 <tr><td>Northern America</td></tr> 
		 <tr><td>Western and Eastern Europe </td></tr> 
		 <tr><td>South Africa</td></tr> 
		 <tr><td>Mid-east ,S.east Asia </td>
	</tr>	
</table> 

<h3><%=t('network_nation')%></h3>   
<img src="/images/network-nation.jpg"/>
<table border="0">
	<tr>
		<th>East China</th>
		<th>North China</th>
		<th>South China</th>
		<th>Central China</th>
	</tr>
	<tr>
		<td>Ningbo</td>
		<td>Dalian</td>
		<td>Shenzhen</td>
		<td>Chongqing</td> 
	</tr>
	<tr>
		<td>Shanghai</td>
		<td>Tianjin</td>
		<td>Xiamen</td>
		<td>Chengdu</td> 
	</tr>
	<tr>
		<td>Hangzhou</td>
		<td>Qingdao</td>
		<td>Guangzhou</td>
		<td>Changsha</td> 
	</tr>
	<tr>
		<td>Suzhou</td>
		<td>Beijing</td>
		<td>Hongkong</td>
		<td>Nanchang</td> 
	</tr>
	<tr>
		<td>Wenzhou</td>
		<td></td>
		<td>Taiwan</td>
		<td></td> 
	</tr>
	<tr>
		<td>Nanjing</td>
		<td></td>
		<td></td>
		<td></td> 
	</tr>
</table>
</div>
<div id="sidebar">
  <%=render :partial => 'links'%> 
</div>