<div id="left">
	<h2><%=t('partner')%> </h2> 
	<h3><%=t('air')%></h3>  
<img src="/images/asia-aireline.jpg"/> 
<img src="/images/ca.jpg"/> 
<img src="/images/ana.jpg"/>  
<img src="/images/sas.jpg"/> 
<img src="/images/klm.jpg"/> 
<img src="/images/eva.jpg"/>    
<img src="/images/car.jpg"/>     
<img src="/images/luf.jpg"/>
<img src="/images/thu.jpg"/> 
<img src="/images/south.jpg"/>    
<img src="/images/can.jpg"/>
<img src="/images/partener/sw.gif"/>   
<img src="/images/partener/sh.gif"/> 
 <h3><%=t('sea')%></h3>      
<img src="/images/partener/mob.gif"/>
<img src="/images/partener/w.gif"/> 
<img src="/images/partener/y.gif"/>  
<img src="/images/partener/oocl.gif"/> 
<img src="/images/partener/msc.gif"/> 
<img src="/images/partener/nyk.gif"/> 
 
<img src="/images/partener/cs.gif"/> 
<img src="/images/partener/ms.gif"/> 
<img src="/images/partener/kline.gif"/>  
<img src="/images/partener/gma.gif"/>    
  

 
</div>
<div id="sidebar">
  <%=render :partial => 'links'%> 
</div>