<div id="left">
	<h2><%=t('partner')%> </h2>
<img src="/images/asia-aireline.jpg"/>
<img src="/images/klm.jpg"/> 
<img src="/images/eva.jpg"/>
<img src="/images/luf.jpg"/>           
</div>
<div id="sidebar">
  <%=render :partial => 'links'%> 
</div>